<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

</head>
<body ng-app="app">
    <div ng-controller="SomeController">
        <button ng-click="clickUnfocused()">
            Not focused
        </button>
        <button ng-focus ng-click="clickFocused()">
            I'm very focused!
        </button>
        <div>{{message.text}}</div>
    </div>

    <script src="../Library/angular.js"></script>
    <script type="text/javascript">
        angular.module("app", []).directive("ngFocus", function () {
            return {
                link: function (scope, element, attrs, controller) {
                    element[0].focus();
                }
            };
        });

        function SomeController($scope) {
            $scope.message = { text: 'nothing clicked yet' };
            $scope.clickUnfocused = function () {
                $scope.message.text = 'unfocused button clicked';
            };
            $scope.clickFocused = function () {
                $scope.message.text = 'focus button clicked';
            }
        }
    </script>
</body>
</html>
